<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TuneIn</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href = "/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="title">TuneIn</div>
    <div id="text-box-message">Enter URI of person to connect with:</div>
    <div id="text-box"><textarea>Enter uri...</textarea></div>
    <button id="submit-button" type="submit">Submit</button>
    <script src="../assets/todo.js"></script>
    <!-- <script src="../bundle.js"></script> -->
  </body>
</html>
